main {
  width: 1280px;
  height: 300px;
  border-radius: 25px;
  background-color: white;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  .image {
    width: 50%;
    height: 100%;
    background-image: url(../../../../../../../assets/take-loan/loan.png);
    background-position: left;
    background-size: cover;
  }
  .skew {
    width: 5%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0) skewX(-10deg);
  }
  .skew1 {
    width: 7%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    left: 45%;
    transform: translate(-50%, 0) skewX(-10deg);
  }
  .terms {
    width: 50%;
    height: 100%;
    padding: 40px 70px;
    h1 {
      color: gray;
      margin-bottom: 30px;
    }
    li {
      list-style-type: circle;
      font-weight: bold;
      margin-bottom: 15px;
    }
    button {
      font-size: 20px;
      color: white;
      border: 0;
      border-radius: 5px;
      background-color: #92278f;
      padding: 15px 60px;
      margin-top: 20px;
      transition: 0.5s;
    }
    button:hover {
      background-color: #6a1c68;
      cursor: pointer;
    }
  }
  .loa {
    background-color: white;
    transition: 0.5s linear;
    position: absolute;
    left: 1280px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    h1 {
      font-size: 25px;
      color: #00a3e0;
    }
    .messages {
      height: 50px;
      .confirm {
        color: green;
      }
    }
    .loan {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      label {
        font-size: 18px;
        color: #00a3e0;
        input {
          width: 100px;
          height: 30px;
          border: 2px solid #00a3e0;
          margin-right: 35px;
          margin-left: 10px;
        }
      }
      .buttons {
        button {
          padding: 10px 20px;
          border: 0;
          background-color: #00a3e0;
          color: white;
          border-radius: 25px;
          font-size: 20px;
          font-weight: bold;
          margin-right: 30px;
        }
      }
      button:hover {
        cursor: pointer;
        border: 1px solid #00a3e0;
        background-color: white;
        color: #00a3e0;
        transform: translateY(5px);
      }
      .not-allowed:hover {
        background-color: white;
        color: #00a3e0;
        cursor: not-allowed;
      }
    }
  }
  .anime {
    margin-left: -625px;
  }
}
