<main *ngIf="lang | async as language">
  <h1 class="header">
    {{ language == "geo" ? "მიმდინარე სესხები" : "Current loans" }}
    <button class="close" (click)="close()">
      {{ language == "geo" ? "სესხის დაფარვა" : "Close loan" }}
    </button>
    <button class="cancel" (click)="cancel()" *ngIf="closeLoan">
      {{ language == "geo" ? "გაუქმება" : "Cancel" }}
    </button>
  </h1>
  <div *ngIf="userLoans | async as loans" class="loan-container">
    <div class="loan-header" *ngIf="loans.length > 1">
      <h1>{{ language == "geo" ? "სესხის ტიპი" : "Type of loan" }}</h1>
      <h1>
        {{ language == "geo" ? "სესხის აღების თარიღი" : "Loan opening date" }}
      </h1>
      <h1>{{ language == "geo" ? "სესხის თანხა" : "Amount of loan" }}</h1>
    </div>
    <div *ngFor="let loan of loans; let index = index">
      <div *ngIf="loan.amount > 0" class="loans">
        <div class="loan">
          <h1>
            {{ language == "geo" ? "სამომხმარებლო სესხი" : "Consumer Loans" }}
            {{ index }}
          </h1>
          <h1>{{ loan.date }}</h1>
          <h1>{{ loan.amount }} {{ language == "geo" ? "ლარი" : "GEL" }}</h1>
        </div>
        <div class="confirm" *ngIf="closeLoan">
          <input type="number" [formControl]="inputAmount" />
          <button
            class="confirm-button"
            (click)="confirm(index)"
            [disabled]="inputAmount.invalid"
            [ngClass]="{
              'not-allowed': inputAmount.invalid
            }"
          >
            {{ language == "geo" ? "დადასტურება" : "Confirm" }}
          </button>
        </div>
      </div>
    </div>
    <h1 class="wrong" *ngIf="wrongAmount">
      {{ language == "geo" ? "არასწორი თანხა" : "Wrong amount" }}
    </h1>
    <h1 class="wrong" *ngIf="notEnoughAmount">
      {{
        language == "geo"
          ? "არ გაქვთ საკმარისი თანხა ანგარიშზე"
          : "You don't have enough amount on your account"
      }}
    </h1>
  </div>
</main>
