<main *ngIf="lang | async as language">
  <section class="left-section">
    <ul>
      <li [ngClass]="{ active: sentTransfer }" (click)="sendHeader()">
        {{ language == "geo" ? "გზავნილის გაგზავნა" : "Send Money Transfer" }}
      </li>
      <li [ngClass]="{ active: !sentTransfer }" (click)="receiveHeader()">
        {{ language == "geo" ? "გზავნილის მიღება" : "Receive Money Transfer" }}
      </li>
    </ul>
  </section>
  <section class="right-section">
    <div class="transfers-images">
      <div
        class="bg-image wu"
        [ngClass]="{ 'wu-active': western }"
        (click)="clickWestern()"
      ></div>
      <div
        class="bg-image ria"
        [ngClass]="{ 'ria-active': ria }"
        (click)="clickRia()"
      ></div>
      <div
        class="bg-image gram"
        [ngClass]="{ 'gram-active': moneygram }"
        (click)="clickGram()"
      ></div>
    </div>
    <div class="input">
      <ng-container *ngIf="sentTransfer">
        {{
          language == "geo"
            ? "შეიყვანეთ გზავნილის თანხა"
            : "Enter amount of transfer"
        }}:
      </ng-container>
      <ng-container *ngIf="!sentTransfer">
        {{
          language == "geo"
            ? "შეიყვანეთ გზავნილის კოდი"
            : "Enter code of transfer"
        }}:
      </ng-container>
      <input type="number" [formControl]="inputValue" />
    </div>
    <button
      [ngClass]="{
        'not-allowed': inputValue.invalid || (!western && !ria && !moneygram)
      }"
      [disabled]="inputValue.invalid || (!western && !ria && !moneygram)"
      *ngIf="sentTransfer"
      (click)="send()"
    >
      {{ language == "geo" ? "გაგზავნა" : "Send" }}
    </button>
    <button
      [ngClass]="{
        'not-allowed': inputValue.invalid || (!western && !ria && !moneygram)
      }"
      [disabled]="inputValue.invalid || (!western && !ria && !moneygram)"
      *ngIf="!sentTransfer"
      (click)="receive()"
    >
      {{ language == "geo" ? "მიღება" : "Receive" }}
    </button>
    <h3 *ngIf="transferSent">
      {{
        language == "geo" ? "წარმატებული გზავნილი" : "Successfully transferred"
      }}!
    </h3>
    <h3 *ngIf="transferReceived">
      {{
        language == "geo" ? "გზავნილი განაღდებულია" : "Successfully received"
      }}!
    </h3>
  </section>
</main>
