<div class="exchange-form">
  <div class="header" *ngIf="lang | async as language">
    <h1>
      {{
        language == "geo"
          ? "ვალუტის კურსები - კალკულატორი"
          : "Currency Exchange - Calculator"
      }}

      <hr />
    </h1>
  </div>
  <div>
    <select
      #currencyLeft
      class="currency"
      (change)="onSelectedLeft(currencyLeft.value)"
    >
      <option *ngFor="let curr of currencies">
        {{ curr }}
      </option>
    </select>

    <input
      type="number"
      [formControl]="leftInputNum"
      [value]="amountOutputLeft | async"
      min="1"
    />
  </div>
  <div>
    <select
      #currencyRight
      class="currency"
      (change)="onSelectedRight(currencyRight.value)"
    >
      <option *ngFor="let curr of currencies">
        {{ curr }}
      </option>
    </select>
    <input
      type="number"
      [formControl]="rightInputNum"
      [value]="amountOutputRight | async"
      min="1"
    />
  </div>
</div>
