main {
  width: 1280px;
  margin: auto;
  border-radius: 25px;
  padding: 25px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  h1 {
    height: 50px;
    padding-left: 25px;
    font-size: 24px;
    font-weight: bold;
  }
  .header {
    height: 35px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    div:first-child {
      width: 50%;
    }
    div:nth-child(2) {
      width: 30%;
    }
    div:last-child {
      width: 20%;
    }
    h2 {
      padding: 6px;
      padding-left: 17px;
    }
  }
  .account {
    height: 60px;
    display: flex;
    padding-top: 15px;
    div:first-child {
      padding-left: 35px;
      display: flex;
      align-items: center;
      width: 50%;
      img {
        height: 36px;
        margin-right: 50px;
      }
      h3 {
        width: 150px;
        font-weight: bold;
        font-size: 20px;
      }
      h4 {
        font-size: 18px;
      }
    }
    .number {
      width: 30%;
      padding: 17px;
    }
    .amount {
      width: 20%;
      padding: 17px;
    }
  }
}
