<main *ngIf="lang | async as language">
  <h1 class="header">
    {{ language == "geo" ? "მიმდინარე ანაბრები" : "Current deposits" }}
  </h1>
  <div *ngIf="userDeposits | async as deposit" class="deposit-container">
    <ng-container *ngFor="let dep of deposit; let index = index">
      <div class="deposits">
        <div class="deposit">
          <h1>
            {{ language == "geo" ? "ვადიანი ანაბარი" : "Term Deposit" }}
            {{ index + 1 }}
          </h1>
          <h1>{{ dep.date }}</h1>
          <h1>{{ dep.amount }} {{ language == "geo" ? "ლარი" : "GEL" }}</h1>
        </div>
        <button class="confirm" (click)="confirm(index)">
          {{ language == "geo" ? "ანაბრის დარღვევა" : "Close Deposit" }}
        </button>
      </div>
    </ng-container>
  </div>
</main>
