<main *ngIf="lang | async as language">
  <h1 (click)="showHide()">
    {{ language == "geo" ? "ტრანზაქციები" : "Transactions" }}
  </h1>
  <ng-container *ngIf="haveTransfers | async as have">
    <div class="transactions" [ngClass]="{ hide: !showTrans }">
      <div class="header" *ngIf="have">
        <h2>{{ language == "geo" ? "თარიღი" : "Date" }}</h2>
        <h2>{{ language == "geo" ? "მიმღები" : "Receiver" }}</h2>
        <h2>{{ language == "geo" ? "გადამრიცხავი" : "Transferror" }}</h2>
        <h2>{{ language == "geo" ? "თანხა" : "Amount" }}</h2>
      </div>
      <ng-container *ngIf="userTransactions | async as transactions">
        <ng-container *ngFor="let transfer of transactions">
          <div class="transfer" *ngIf="transfer.amount > 0">
            <ng-container *ngIf="userAccount | async as user">
              <h2>{{ transfer.date }}</h2>
              <h2>{{ transfer.receiver }}</h2>
              <h2>{{ transfer.transferror }}</h2>
              <h2
                [ngClass]="user.account == transfer.receiver ? 'green' : 'red'"
              >
                {{ transfer.amount }} {{ language == "geo" ? "ლარი" : "GEL" }}
              </h2>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</main>
