<main *ngIf="lang | async as language">
  <header>
    <div class="container">
      <img
        src="{{
          language == 'geo'
            ? 'https://tbconline.ge/tbcrd/assets/img/homepage/Logo-ka.svg'
            : 'https://tbconline.ge/tbcrd/assets/img/homepage/Logo-en.svg'
        }}"
        alt="bg-image"
        routerLink="/"
      />
      <div class="contact">
        <span>2 27 27 00 | </span>
        <a href="https://chat.tbcbank.ge/client/" target="_blank">{{
          language == "geo" ? "ონლაინ კონსულტაცია" : "Chat now"
        }}</a>
      </div>
    </div>
  </header>
  <div class="register">
    <h1>{{ language == "geo" ? "შემოგვიერთდი" : "Join us now" }}</h1>
    <h4>
      {{
        language == "geo"
          ? "შეიყვანე შენი მონაცემები იდენტიფიკაციისთვის"
          : "Tell us more about yourself"
      }}
    </h4>
    <form [formGroup]="registerForm">
      {{ language == "geo" ? "სახელი:" : "Name:" }}
      <input type="text" formControlName="name" placeholder="Required" />
      {{ language == "geo" ? "გვარი:" : "Surname:" }}
      <input type="text" formControlName="surname" placeholder="Required" />
      {{ language == "geo" ? "პირადი ნომერი:" : "Personal number:" }}
      <input
        type="number"
        formControlName="personalNumber"
        placeholder="Required"
      />
      <p class="err" *ngIf="personalNumber.hasError('pattern')">
        {{ language == "geo" ? "11 ციფრი" : "11 number" }}
      </p>
      <p class="err" *ngIf="alreadyUsedPersonalNum">
        {{
          language == "geo"
            ? "პირადი ნომერი უკვე რეგისტირებულია"
            : "Personal number is already registered"
        }}
      </p>
      <br />
      {{ language == "geo" ? "მობილურის ნომერი:" : "Mobile number:" }} +995
      <input
        type="number"
        formControlName="phoneNumber"
        placeholder="Required"
      />
      <div *ngIf="phoneNumber.hasError('pattern')">
        <p class="err">
          {{ language == "geo" ? "9 ციფრი" : "9 number" }}
        </p>
      </div>
      <p class="err" *ngIf="alreadyUsedPhoneNum">
        {{
          language == "geo"
            ? "მობილური ნომერი უკვე რეგისტირებულია"
            : "Phone number is already registered"
        }}
      </p>
      <br />
      {{ language == "geo" ? "მომხმარებლის სახელი:" : "Username:" }}
      <input type="text" formControlName="username" placeholder="Required" />
      <p class="err" *ngIf="username.hasError('minlength')">
        {{ language == "geo" ? "მინიმუმ 5 სიმბოლო" : "Minimum 5 symbol" }}
      </p>
      <p class="err" *ngIf="alreadyUsedUsername">
        {{
          language == "geo"
            ? "მომხმარებლის სახელი უკვე რეგისტირებულია"
            : "Username is already used"
        }}
      </p>
      <br />
      <ng-container formGroupName="passwordGroup">
        {{ language == "geo" ? "პაროლი:" : "Password:" }}
        <input
          type="password"
          formControlName="password"
          placeholder="Required"
        />
        <ng-container *ngIf="password.hasError('pattern')">
          <p class="err">
            {{
              language == "geo"
                ? "მინიმუმ 8 სიმბოლო, მინ 1 დიდი ასო, პატარა ასო და რიცხვი"
                : "Minimum 8 symbol, min 1 uppercase, lowercase and number"
            }}
          </p>
          <br />
        </ng-container>
        {{ language == "geo" ? "გაიმეორე პაროლი:" : "Confirm Password:" }}
        <input
          type="password"
          formControlName="confirmPassword"
          placeholder="Required"
        />
      </ng-container>
      <ng-container *ngIf="confirmErr">
        <p class="err">
          {{
            language == "geo" ? "პაროლები არ ემთხვევა" : "Passwords don't match"
          }}
        </p>
        <br />
      </ng-container>
      <div class="check">
        Terms:
        <input class="check" type="checkbox" formControlName="terms" />
      </div>
    </form>
    <button
      class="register-button"
      (click)="register()"
      [disabled]="
        registerForm.invalid ||
        alreadyUsedPersonalNum ||
        alreadyUsedPhoneNum ||
        alreadyUsedUsername
      "
      [ngClass]="{
        'button-hover':
          registerForm.valid &&
          !alreadyUsedPersonalNum &&
          !alreadyUsedPhoneNum &&
          !alreadyUsedUsername
      }"
    >
      {{ language == "geo" ? "რეგისტრაცია" : "Register" }}</button
    ><br />
    <button class="login-button" routerLink="/">
      {{ language == "geo" ? "ავტორიზაციის გავლა" : "Log In" }}
    </button>
  </div>
</main>
<div class="overlay" *ngIf="userRegistered">
  <div class="registered" *ngIf="lang | async as language">
    <h1>
      {{
        language == "geo"
          ? "თქვენ წარმატებით დარეგისტრირდით!"
          : "Successfully registered!"
      }}
    </h1>
    <button (click)="registered()">
      {{ language == "geo" ? "ავტორიზაციის გავლა" : "Log In" }}
    </button>
  </div>
</div>
