main {
  width: 1080px;
  height: 300px;
  margin: auto;
  position: relative;
  border-radius: 25px;
  background-color: white;
  background-image: url(../../../../../../../../assets/open-deposit/anime1.png);
  background-position: center;
  background-size: contain;
  animation: animation 5s infinite;
  h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    color: white;
    animation: opacity 1s infinite linear;
  }
}

@keyframes animation {
  33.3% {
    background-image: url(../../../../../../../../assets/open-deposit/anime2.png);
  }
  66.6% {
    background-image: url(../../../../../../../../assets/open-deposit/anime3.png);
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
