main {
  width: 1280px;
  height: 300px;
  margin: 50px auto;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  .check-box,
  .user-box,
  .confirm-box {
    width: 33%;
    height: 100%;
    background-color: #005a96;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
    transition: 0.5s linear;
    animation: start 0.5s linear;
  }
  .check-box {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    h1 {
      font-size: 20px;
      color: white;
    }
    input {
      width: 300px;
      height: 40px;
    }
    h6 {
      width: 300px;
      height: 25px;
      text-align: center;
      color: white;
    }
    button {
      padding: 10px 30px;
      border: 0;
      font-size: 25px;
      background-color: #92278f;
      border-radius: 10px;
      color: white;
    }
    button:hover {
      background-color: #6a1c68;
      cursor: pointer;
    }
  }
  .user-box {
    z-index: 2;
  }
  .confirm-box {
    z-index: 1;
  }
  .checked {
    left: 33.5%;
  }
}

@keyframes start {
  0% {
    left: -33%;
  }
  100% {
    left: 0;
  }
}
